/* UNIVERSAL SELECTORS */
:root {
 --main-Color: #35A6B4;
 --second-Color: #434343;
 --text-Color: #000000;
}

* {
 font-family: Poppins, sans-serif;
 margin: 0;
 box-sizing: border-box;
}

ul {
 list-style-type: none;
 padding-inline-start: 0px;
}

a {
 text-decoration: none;
 color: inherit;
}


/* HEADER SELECTORS */

.header {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-areas:
  'head . nav nav';
 /* SASS 1 */
 border-bottom: 2px solid var(--second-Color);
}

.header__logo {
 /* SASS 1*/
 border-right: 2px solid var(--second-Color);
 display: flex;
 justify-content: center;
 align-items: center;
 grid-area: head;
 padding: 1em;
}

.header__nav {
 grid-area: nav;
 display: grid;
 align-items: center;
 ;
}

.header__nav__container {
 display: flex;
 justify-content: start;
 grid-column: span 2;
 gap: 40px;
}

.header__nav__container__links a:hover {
 color: var(--main-Color);
}

.header__nav__container__links select {
 border: none;
 font-size: 1rem;
}

/* MAIN SELECTORS */

main {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 700px) 800px 900px;
 grid-template-areas:
  "sec1 sec2"
  "sec3 sec3"
  "sec4 sec5"
  "sec6 sec6";
}

.section-one {
 grid-area: sec1;
}

.section-two {
 grid-area: sec2;
}

.section-three {
 grid-area: sec3;
}

.section-four {
 grid-area: sec4;
}

.section-five {
 grid-area: sec5;
}

.section-six {
 grid-area: sec6;
}

/* FOOTER SELECTORS */

.footer {
 background-color: var(--second-Color);
 height: 450px;
 color: white;
}

.footer__container {
 width: 80%;
 margin: 0 auto;
 display: grid;
 grid-template-rows: repeat(4, 1fr);
 grid-template-columns: repeat(12, 1fr);
 height: 100%;
}

.footer__container--padding {
 padding: 10px;
}

.list--padding {
 padding: 5px 0;
}

.footer__container--font-size {
 font-size: 0.8rem;
}

.footer__paragraph-headers--font-size {
 font-size: 1.1em;
}

.footer__input {
 width: 100%;
 background-color: var(--second-Color);
 border: 1px solid white;
 border-radius: 10px;
 color: white;
 padding: 10px 15px
}

.one {
 grid-row: 2;
}

.two {
 grid-row: 2;
 grid-column: 7;
}

.three {
 grid-row: 2;
 grid-column: 8 / span 2;
}

.four {
 grid-row: 3;
 grid-column: span 4;
}

.five {
 grid-row: 3;
 grid-column: 7;
}

.six {
 grid-row: 3;
 grid-column: 8 / span 2;
}

.seven {
 grid-row: 3;
 grid-column: 10 / span 3;
}

.eight {
 grid-row: 4;
 grid-column: span 4;
}